<header>
  <div class="jumbotron bg-dark text-white">
    <div class="container">
      <div class="col-md-6 px-0">
        <h2 class="display-5 font-italic">
          Kısaca Hakkımda
        </h2>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-4">
          <img src="/assets/ummu2.jpeg" class="card-img-top img-thumbnail" alt="">
          <div class="card-body">
            <p class="card-text">
              1995 yılında Iğdır'da doğdum.Teknolojiye ve bilgisayara olan ilgim ile Bilgisayar
              Mühendisliği bölümünü tercih ettim.Fatih Sultan Mehmet Vakıf Üniversitesi Bilgisayar Mühendisliği
              bölümünden 2020 yılında mezun oldum. Çalışmayı seven,öğrenmeye açık,kendisine verilen işi
              özenle yapmaya önem gösteren,sorumluluk sahibi,disiplinli biri olarak çalışma
              sırasında şirketinize değer katarken kendimi geliştirebileceğimi düşünüyorum.Yer aldığım
              projelerde ekip çalışmasına uygun kimliğimle çalışmamı sürdürdüm.
            </p>
          </div>
          <div class="card-footer text-muted">20 Nisan, 2019</div>
        </div>

        <div class="card mb-4">
          <img src="/assets/pc.png" class="card-img-top img-thumbnail" alt="">
          <div class="card-body">
            <p class="card-text">
              Üniversite yıllarımı proje geliştirmekle ve farklı programlama dillerini öğrenerek geçirdim.
              Bu bana hem özgüven hemde teknik anlamda deneyim kattı.Java,Htlm,Css,JavaScript,Python dillerini
              okulda aldığım eğitimin yanında kendi geliştirdiğim projelerde de kullandım.Aynı zamanda şuan
              çalışmakta olduğum yazılım şirketinde AnadoluEfes için geliştirdiğimiz projede
              Front-end-Developer olarak yer almaktayım.
            </p>
          </div>
          <div class="card-footer text-muted">15 Ekim, 2018</div>
        </div>

        <div class="card mb-4">
          <img src="/assets/ummu3.jpeg" class="card-img-top img-thumbnail" alt="">
          <div class="card-body">
            <p class="card-text">
              Gezmek en büyük hobilerim arasındadır.Fırsat buldukça yeni yerler keşfet etme isteğim hep devam etmiştir.
            </p>
          </div>
          <div class="card-footer text-muted">8 Haziran, 2020</div>
        </div>
      </div>

      <div class="col-md-4">

        <div class="card mb-4">
          <div class="card-header">
            <h5>Yetkinlikler</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <ul class="list-unstyled">
                  <li><a >JavaScript</a></li>
                  <li><a >Html/Css</a></li>
                  <li><a >Angular</a></li>
                  <li><a >SpringBoot</a></li>
                  <li><a >Oracle</a></li>
                  <li><a >Sql</a></li>
                  <li><a >C++</a></li>
                </ul>
              </div>

              <div class="col">
                <ul class="list-unstyled">
                  <li><a >Veri Analizi</a></li>
                  <li><a >Veri Bilimi</a></li>
                  <li><a >Veri Madenciliği</a></li>
                  <li><a >Python</a></li>
                  <li><a >C</a></li>
                  <li><a >Hibernate</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h5>Bilgisayar Mühendisliği Hakkında</h5>
          </div>
          <div class="card-body">
            <p>
              Günümüz teknolojisinde artık neredeyse her şeyi bilgisayar üzerinden yapar duruma geldik.
              Bunda zamanla geliştirilen teknolojik dünyanın payı büyüktür. Bu alandaki mühendisler bilgisayar temel bilimlerini esas alan bilgisayarın yardımcı olabileceği pek çok alanda gelişmişlik gösteren bir mühendislik alanıdır. Bilgisayarların özelliklerini sistematik olarak yapısı ve tasarımını geliştirip yazılım sorunlarını ve donanım bilgilerinin sorunlarını giderilmesinde son derece öneme sahip olan kişilerdir bilgisayar mühendisleri. Bilgisayar mühendisliği hakkında bilgilere çok çeşitli yerlerden de ulaşılabilmektedir. Bilgisayar mühendisleri özel kurumlarda olduğu gibi kamu kurumlarında da çalışma imkanlarına sahiplerdir. Sistem uzmanlığı,
              veri tabanı uzmanlığı, yazılım uzmanlığı, veri madenciliği gibi alanlarda çalışabilmektedirler.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
