<header>
  <div class="jumbotron bg-dark text-white">
    <div class="container">
      <div class="col-md-6 px-0">
        <h2 class="display-5 font-italic">Kullandığım Teknolojiler</h2>
      </div>
    </div>
  </div>
</header>
<div class="container margin-top-100" >

  <div class="row">
    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
      <div class="card mb-4">
        <img src="/assets/js.png" class="card-img-top img-thumbnail" alt="">
        <div class="card-body">
          <p class="card-text">
            <a href="https://www.javascript.com/ " class="text-dark font-weight-bold">JavaScript Document</a>
          </p>
        </div>

      </div>


      <div class="card mb-4">
        <img src="/assets/css.png" class="card-img-top img-thumbnail" alt="">
        <div class="card-body">
          <p class="card-text">
            <a href="https://www.w3schools.com/css/" class="text-dark font-weight-bold">Css Document</a>
          </p>
        </div>

      </div>

    </div>

    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
      <div class="card mb-4">
        <img src="/assets/bb.png" class="card-img-top img-thumbnail">
        <div class="card-body">
          <p class="card-text">
            <a href="https://getbootstrap.com/" class="text-dark font-weight-bold">Bootstrap Document</a>
          </p>
        </div>

      </div>

      <div class="card mb-4">
        <img src="/assets/html11.png" class="card-img-top img-thumbnail" alt="">
        <div class="card-body">
          <p class="card-text">
            <a href="https://www.w3schools.com/html/" class="text-dark font-weight-bold">Html Document</a>
          </p>
        </div>

      </div>

    </div>

    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
      <div class="card mb-4">
        <img src="/assets/angularcli.jpg" class="card-img-top img-thumbnail">
        <div class="card-body">
          <p class="card-text">
            <a href="https://angular.io/" class="text-dark font-weight-bold">Angular Document</a>
          </p>
        </div>

      </div>

    </div>
  </div>
</div>
