<header>
  <div class="jumbotron bg-dark text-white">
    <div class="container">
      <div class="col-md-6 px-0">
        <h2 class="display-5 font-italic">Tartışmaya katılmak ister misiniz?</h2>
        <p class="lead mb-0">
          <a href="#" class="text-white font-weight-bold"> Katkı yapmaktan çekinmeyiniz!</a>
        </p>
      </div>
    </div>
  </div>
</header>
<div class="container col-md-8 pt-150 mb-5 " style="margin-top: 60px">
  <div class="card">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)" class="m-4">
      <div class="form-group ">
        <label>İsim</label>
        <input class="form-control " formControlName="username" required>
        <div
          *ngIf="this.loginForm.get('username').invalid && (this.loginForm.get('username').dirty || this.loginForm.get('username').touched)"
          class="alert alert-danger">
          <div *ngIf="this.loginForm.get('username').errors.required"><label>Lütfen adınızı giriniz</label></div>
          <div *ngIf="this.loginForm.get('username').errors.pattern"><label>Lütfen geçerli karakter giriniz</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Soyisim</label>
        <input class="form-control " formControlName="surname" required>
        <div
          *ngIf="this.loginForm.get('surname').invalid && (this.loginForm.get('surname').dirty || this.loginForm.get('surname').touched)"
          class="alert alert-danger">
          <div *ngIf="this.loginForm.get('surname').errors.required"><label>Lütfen soyadınızı giriniz</label></div>
          <div *ngIf="this.loginForm.get('surname').errors.pattern"><label>Lütfen geçerli karakter giriniz</label></div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input class="form-control " formControlName="email" required>
        <div
          *ngIf="this.loginForm.get('email').invalid && (this.loginForm.get('email').dirty || this.loginForm.get('email').touched)"
          class="alert alert-danger">
          <div *ngIf="this.loginForm.get('email').errors.required"><label>Lütfen email adresinizi giriniz</label>
          </div>
          <div *ngIf="f.email.errors.email">Geçerli email giriniz.</div>
        </div>
      </div>

      <div class="form-group">
        <label>Yorum</label>
        <textarea class="form-control " formControlName="comment"></textarea></div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary text-sm-left">Gönder</button>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-header">Yorumlarınız:</div>
      <table class="table table-hover table-striped mb-3">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Yorumlar</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let com of commentsArray ; index as i  ">
          <td scope="row">{{ i + 1 }}</td>
          <td><a>{{ com}}</a></td>
          <td><button class="btn btn-danger btn-sm" (click)="delete(i)">SİL</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
